<!--
	HOME PAGE EJS
	Variables Used:
    - username
    Pages linked:
    - wall.ejs
    - logout

    FOR FUTURE REFERENCE IN CHANGING COLOR SCHEME
    style="background-color: #303030; border:1px solid #303030"
-->

<head>
    <title>Pennbook</title>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="pennbook.css"/>
</head>
        
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!-- Display the current time in 5 second intervals (initially black text, hidden on page) -->
<div id="clock"><center><font color="black">Please wait 5 seconds for the time to appear.</font></center></div><br></br>

<body>
<!--Top Header bar: Title of page, Toolbar, Search bar-->      
<nav class="navbar">
	<!--Title-->
	<a href="/home" class="navbar-brand" style="font-size:36px; color:#99DFFF">PennBook</a>
	<!--Toolbar-->
	<div class="toolbar-container">
        <a class="button" href="/home" role="button">
            &#127969;
            Home
        </a>
        <a class="button" href="/wall?wallToVisit=<%=username%>" role="button">
            &#128204;
            My Wall
        </a>
        <a class="button" href="/settings" role="button">
            &#128295;
            Settings
        </a>
        <a class="button" href="/news" role="button">
            &#128240;
            News
        </a>
        <a class="button" href="/logout" role="button">
            &#128682;
			Log Out
		</a>
    </div>
	<!--Search Bar-->
	<form class="form-inline">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2" style="color:#E1E1E1;background-color:#3a3b3c;border-color:#242526">
			<div class="input-group-append">
				<button class="btn btn-outline-primary" type="button" id="button-addon2" style="color:#99DFFF">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
	</form>
 </nav>


    <div class="container-fluid gedf-wrapper">
        <div class="row">

            <!--Left col-->
            <div class="col-md-3">
                <div class="card" style="background-color:#242526;border-radius:10px">
                    <div class="card-body">
                        <!--Links to the wall-->
                        <a href="/wall?wallToVisit=<%=username%>" class="h5">@<%=username%></a>
                        <div class="h7 text-muted">Fullname : FULL NAME</div>
                        <div class="h7" style="color:#535353"> BIO GOES HERE</div>
                    </div>
                </div>
                <br>
                <div class="card" style="background-color:#242526;border-radius:10px">
                    <div class="card-body">
                        <p style="color:#E1E1E1">Made by Selene Li, Alex Dong, Philip Kaw, Di Lu</p>
                        <a style="color:#E1E1E1">UPenn - NETS212 &#128154;</a>
                    </div>
                </div>
            </div>

            <!--Center posts col-->
            <div class="col-md-6 gedf-main">
                <!--- \\\\\\\Post-->
                <div class="card gedf-card" style="background-color:#242526;border-radius:10px">
                    <div class="card-header" style="font-size:20px; color:#E1E1E1">
                        Make a Post
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                           <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <form>
                                
                                    
                                    <textarea class="form-control" name="content" rows="3" placeholder="What's on your mind, <%=username%>?" class="form-control" style="background-color:#3a3b3c;border-color:#3a3b3c;color:#E1E1E1"required></textarea>
                                    <br>
                                   
                                    <input type="hidden" name="currentWall" value="<%=username%>">
                                    <input type="hidden" name="posterID" value="<%=username%>">
                                    <input type="hidden" name="friend" value="false">
                                    <button type="button" class="btn btn-lg btn-primary btn-block" onclick="makeNewPost()">Post</button>
                                
                                
                            </form>
                               
                           </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">
                      
                            <div class="btn-group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fa fa-globe"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Friends</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Post /////-->

                <!--- \\\\\\\Post--> 
                <div id="allposts">

                </div>

                <!---POST---->
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://tastyethnics.com/wp-content/uploads/bb-plugin/cache/default-profile-square.png" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">@USERNAME</div>
                                    <div class="h7 text-muted">FULLNAME</div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <div class="h6 dropdown-header">Configuration</div>
                                        <a class="dropdown-item" href="#">Save</a>
                                        <a class="dropdown-item" href="#">Hide</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>TIME ELAPSED</div>
                        <a class="card-link" href="#">
                            <h5 class="card-title"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consectetur
                                deserunt illo esse distinctio.</h5>
                        </a>

                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis nihil, aliquam est, voluptates officiis iure soluta
                            alias vel odit, placeat reiciendis ut libero! Quas aliquid natus cumque quae repellendus. Lorem
                            ipsum dolor sit amet consectetur adipisicing elit. Ipsa, excepturi. Doloremque, reprehenderit!
                            Quos in maiores, soluta doloremque molestiae reiciendis libero expedita assumenda fuga quae.
                            Consectetur id molestias itaque facere? Hic!
                        </p>
                        <div>
                            <span class="badge badge-primary">JavaScript</span>
                            <span class="badge badge-primary">Android</span>
                            <span class="badge badge-primary">PHP</span>
                            <span class="badge badge-primary">Node.js</span>
                            <span class="badge badge-primary">Ruby</span>
                            <span class="badge badge-primary">Python</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                        <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
                    <div class="card-body">
                        <div class="card-subtitle">
                             Comments
                        </div>
                        <form action="/commentonpost" method="post">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <textarea class="form-control" style="height:70px;" name="commentContent" rows="3" placeholder="Leave a comment, <%=username%>!" required></textarea>
                                <input type="hidden" name="postID" value="post.postID">
                                <br>
                                <input type="submit" value="Comment" class="btn btn-lg btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Post /////-->

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://tastyethnics.com/wp-content/uploads/bb-plugin/cache/default-profile-square.png" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">@LeeCross</div>
                                    <div class="h7 text-muted">Miracles Lee Cross</div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <div class="h6 dropdown-header">Configuration</div>
                                        <a class="dropdown-item" href="#">Save</a>
                                        <a class="dropdown-item" href="#">Hide</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> Hace 40 min</div>
                        <a class="card-link" href="#">
                            <h5 class="card-title">Totam non adipisci hic! Possimus ducimus amet, dolores illo ipsum quos
                                cum.</h5>
                        </a>

                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sunt fugit reprehenderit consectetur exercitationem odio,
                            quam nobis? Officiis, similique, harum voluptate, facilis voluptas pariatur dolorum tempora sapiente
                            eius maxime quaerat.
                            <a href="https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU" target="_blank">https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                        <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>

                </div>
                <!-- Post /////-->
            </div>   

			<!--Right Column-->
            <div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var postIDsOnClient = [];
    var postsOnClient = [];
    var commentsOnPosts = [];

    function initAllPosts() {
        // TODO: DISPLAY POSTS ON THE HOME PAGE
        // iterate through all of the posts
        console.log("initAllPosts called");
        var container = document.getElementById("allposts");
        <% posts.forEach(post => { %>
            var content = "<div class=\"card gedf-card\" style=\"background-color:#242526;border-radius:10px\">" +
                        "<div class=\"card-header\">" +
                            "<div class=\"d-flex justify-content-between align-items-center\">" +
								"<div class=\"d-flex justify-content-between align-items-center\">" +
									"<div class=\"mr-2\">" +
										"<img class=\"rounded-circle\" width=\"45\" src=\"https://tastyethnics.com/wp-content/uploads/bb-plugin/cache/default-profile-square.png\">" +
                                    "</div>";
            <% if(post.friend) { %>
                //DO NOTHING ABOUT THE HEADER
            <%} else { %>
                <% if (post.posterID) { %>
                    //someone posted on someone else's wall
                    content += "<div class=\"ml-2\">" +
                                "<div class=\"h5 m-0\"style=\"color:#E1E1E1\"><%=post.posterName%> posted on <%=post.userName%>'s wall </div>" +
							"</div>";
                <% } else { %>
                    //anything involving just you, i.e changing interest, posted on your own wall, etc.
                    content += "<div class=\"ml-2\">" +
                                "<div class=\"h5 m-0\"style=\"color:#E1E1E1\"><%=post.userName%> </div>" +
							"</div>";
                <% } %>
            <% } %>
            content +=      "</div>" +
                        "</div>" +
                    "</div>" +
                    "<div class=\"card-body\">" +
                        "<div class=\"text-muted h7 mb-2\"> <i class=\"fa fa-clock-o\"></i><%=post.timestamp%></div>" +
                        "<a class=\"card-link\" href=\"#\">" +
                            "<h5 class=\"card-title\"><%=post.postID%></h5>" +
                        "</a>" +
                        "<p class=\"card-text\" style=\"color:#E1E1E1\"> <%=post.content%></p>" +
                        "</div>" +
                        "<div class=\"card-footer\">" + 
                        "<a href=\"#\" class=\"card-link\"><i class=\"fa fa-gittip\"></i> Like</a>" +
                        "<a href=\"#\" class=\"card-link\"><i class=\"fa fa-comment\"></i> Comment</a>" + 
                        "<a href=\"#\" class=\"card-link\"><i class=\"fa fa-mail-forward\"></i> Share</a>" +
                    "</div>" +
                    "<div class=\"card-body\">" +
                        "<div class=\"card-subtitle\" style=\"color:#E1E1E1\">" +
                            "Comments" +
                        "</div>" +
                        "<form action=\"/commentonpost\" method=\"post\">" +
                            "<div class=\"form-group\">" +
                                "<label class=\"sr-only\" for=\"message\">post</label>" +
                                "<textarea class=\"form-control\" style=\"height:70px; background-color:#3a3b3c;border-color:#3a3b3c;color:#E1E1E1\" name=\"commentContent\" rows=\"3\" placeholder=\"Leave a comment, <%=username%>!\" required></textarea>" +
                                "<br>" +
                                "<input type=\"hidden\" name=\"postID\" value=\"<%=post.postID%>\">" +
                                "<input type=\"submit\" value=\"Comment\" class=\"btn btn-lg btn-primary\">" +
                            " </div>" +
                        "</form>" +
                    " </div>" +
                "</div> ";
            
            postIDsOnClient.push("<%=post.postID%>");
            postsOnClient.push("<%=post%>");
            
            container.innerHTML += content;

        // TODO: HERE IS WHERE YOU SHOULD WRITE CODE THAT INITIALLY DISPLAYS EVERY POST

        // add each post from the server into the list of posts stored on the client side
        <% }); %>
        console.log(postsOnClient);
    }

    function initAllComments() {

    }

    function renderPostsAndComments() {

    }

    // TODO: ejs form submit button (for making a new post) should have: onclick="makeNewPost()"
    // makes a new post when the user submits the form for creating a post
    function makeNewPost() {
    	//alert("You made a new post. TODO (Di): Display the new post on the home page.");
        // get the user's inputted fields
        var postContent = $('textarea[name="content"]').val();
        console.log("post Content:" + postContent);

        $.ajax({
            url: "/postonwall",
            type: "POST",
            data:
                {   
                    content: postContent
                },
            success: function(data) {
                // TODO: SHOW THE NEW POST ON THE USER'S HOME PAGE. THESE ARE THE FIELDS OF DATA
                // Example: Do data.username, data.postID, etc.
                
                /* username: poster, 
					postID: id, 
					content: content, 
					timestamp: timestamp, 
					hashtags: hashtags
                */

                console.log("userid GOT: " + data.userName);
                console.log("postID GOT: " + data.postID);
                console.log("content GOT: " + data.content);
                console.log("timestamp GOT: " + data.timestamp);
                var container = document.getElementById("allposts");

                var content = "<div class=\"card gedf-card\" style=\"background-color:#242526;border-radius:10px\">" +
                "<div class=\"card-header\">" +
                    "<div class=\"d-flex justify-content-between align-items-center\">" +
                        "<div class=\"d-flex justify-content-between align-items-center\">" +
                            "<div class=\"mr-2\">" +
                                "<img class=\"rounded-circle\" width=\"45\" src=\"https://tastyethnics.com/wp-content/uploads/bb-plugin/cache/default-profile-square.png\">" +
                            "</div>";
                content += "<div class=\"ml-2\">" +
                                "<div class=\"h5 m-0\" style=\"color:#E1E1E1\">" + data.userName+ "</div>" +
                            "</div>";
                content +=      "</div>" +
                            "</div>" +
                        "</div>" +
                        "<div class=\"card-body\">" +
                            "<div class=\"text-muted h7 mb-2\"> <i class=\"fa fa-clock-o\"></i>" + data.timestamp + "</div>" +
                            "<a class=\"card-link\" href=\"#\">" +
                                "<h5 class=\"card-title\">" + data.postID + "</h5>" +
                            "</a>" +
                            "<p class=\"card-text\" style=\"color:#E1E1E1\">" + data.content + "</p>" +
                        "</div>" +
                        "<div class=\"card-footer\">" + 
                            "<a href=\"#\" class=\"card-link\"><i class=\"fa fa-gittip\"></i> Like</a>" +
                            "<a href=\"#\" class=\"card-link\"><i class=\"fa fa-comment\"></i> Comment</a>" + 
                            "<a href=\"#\" class=\"card-link\"><i class=\"fa fa-mail-forward\"></i> Share</a>" +
                        "</div>" +
                        "<div class=\"card-body\">" +
                            "<div class=\"card-subtitle\" style=\"color:#E1E1E1\">" +
                                "Comments" +
                            "</div>" +
                            "<form action=\"/commentonpost\" method=\"post\">" +
                                "<div class=\"form-group\">" +
                                    "<label class=\"sr-only\" for=\"message\">post</label>" +
                                    "<textarea class=\"form-control\" style=\"height:70px;\" name=\"commentContent\" rows=\"3\" placeholder=\"Leave a comment, <%=username%>!\" required></textarea>" +
                                    "<br>" +
                                    "<input type=\"hidden\" name=\"postID\" value=\"newPost.postID\">" +
                                    "<input type=\"submit\" value=\"Comment\" class=\"btn btn-lg btn-primary\">" +
                                " </div>" +
                            "</form>" +
                        " </div>" +
                    "</div> ";
                //postsOnClient.push(data);
                postIDsOnClient.push(data.postID);
                postsOnClient.push(data);
                console.log("post added to list: ");
                console.log(data);
                //push comment list

                //ADDS THE NEWEST POST AT THE BEGINNING OF ALL P OSTS.
                container.innerHTML = (content + container.innerHTML);

                // add the new post to the list of posts on the client side
                //postsOnClient.push(theNewPost);
                // TODO: var theNewPost -> THIS MUST BE IN THE SAME FORM AS THE POSTS THAT RETURN FROM THE ARRAY OF POSTS SENT FROM THE DATABASE
            }
        })
    }

    // automatic refresh every 5 seconds to update home page
    var refreshTime = function() {
        // set clock to refresh every 5000 ms
        console.log("refresh time called");
        $("#clock").html((new Date()).toString());
        setTimeout(refreshTime, 5000);
        // make AJAX call to get the home page posts and compare the data from the server to the data on the client
        $.ajax({
                url: "/homepageposts",
                type: "GET",
                success: function(data) {
                    // lists containing the differences between the server and client
                    var newPosts = [];
                    var newComments = [];
                    
                    console.log("5 second refresh. The data returned from routes is:");
                    console.log(data);
                    
                    if (data) {
                    	if (data.posts) {
		                    // iterate through data (posts) sent from server
		                    data.posts.forEach(p => {
		                    	console.log("New post added, see below");
		                    	console.log(JSON.stringify(p));
		                        // put the post in the list if it's from the server but not on the client
		                        //if (!postsOnClient.includes(p)) {
                                if (!postIDsOnClient.includes(p.postID)) {
                                    console.log("cur list doesn't include p");
                                    console.log(p);
		                            newPosts.push(p);
		                            // update the client-side list to contain new posts from the server
                                    postsOnClient.push(p);
                                }
		                    });
	                    }
	                    if (data.comments) {
		                    // iterate through data (comments) sent from server
		                    data.comments.forEach(c => {
		                    	console.log("New comment added, see below");
		                    	console.log(JSON.stringify(c));
		                    	
		                    	// AAAAAAAAAAAAAAAAAHHHHHHHHHHHHHHHHHHHHHHHHHHHH
		                        // put the post in the list if it's from the server but not on the client
		                        if (!commentsOnPosts.includes(c)) {
		                            newComments.push(c);
		                            // update the client-side list to contain new posts from the server
		                            commentsOnPosts.push(c);
		                        }
		                    });
                        }
                    }
                    
                    console.log("440:");
                    console.log(newPosts);
                        
                    // TODO: ACTUALLY DISPLAY THE NEW POSTS THAT THE SERVER HAS SENT TO THE CLIENT

                    var container = document.getElementById("allposts");
                    newPosts.forEach(newPost => {
                        //VISUAL RENDER OF THE NEWPOST
                        console.log("make new post");
                        var content = "<div class=\"card gedf-card\" style=\"background-color:#242526;border-radius:10px\">" +
                        "<div class=\"card-header\">" +
                            "<div class=\"d-flex justify-content-between align-items-center\">" +
								"<div class=\"d-flex justify-content-between align-items-center\">" +
									"<div class=\"mr-2\">" +
										"<img class=\"rounded-circle\" width=\"45\" src=\"https://icon-library.com/images/default-profile-icon/default-profile-icon-17.jpg\">" +
                                    "</div>";
                        if(newPost.friend) {
                            //DO NOTHING ABOUT THE HEADER
                        } else {
                            if (newPost.posterID) {
                                //someone posted on someone else's wall
                                content += "<div class=\"ml-2\">" +
                                            "<div class=\"h5 m-0\" style=\"color:#E1E1E1\">" + newPost.posterName + " posted on " + newPost.userName + "'s wall </div>" +
                                        "</div>";
                            } else {
                                //anything involving just you, i.e changing interest, posted on your own wall, etc.
                                content += "<div class=\"ml-2\">" +
                                            "<div class=\"h5 m-0\" style=\"color:#E1E1E1\">" + newPost.userName + "</div>" +
                                        "</div>";
                            }
                        }
                        content +=      "</div>" +
                                    "</div>" +
                                "</div>" +
                                "<div class=\"card-body\">" +
                                    "<div class=\"text-muted h7 mb-2\"> <i class=\"fa fa-clock-o\"></i>" + newPost.timestamp + "</div>" +
                                    "<a class=\"card-link\" href=\"#\">" +
                                        "<h5 class=\"card-title\">" + newPost.postID + "</h5>" +
                                    "</a>" +
                                    "<p class=\"card-text\" style=\"color:#E1E1E1\">" + newPost.content + "</p>" +
                                "</div>" +
                                "<div class=\"card-footer\">" + 
                                    "<a href=\"#\" class=\"card-link\"><i class=\"fa fa-gittip\"></i> Like</a>" +
                                    "<a href=\"#\" class=\"card-link\"><i class=\"fa fa-comment\"></i> Comment</a>" + 
                                    "<a href=\"#\" class=\"card-link\"><i class=\"fa fa-mail-forward\"></i> Share</a>" +
                                "</div>" +
                                "<div class=\"card-body\">" +
                                    "<div class=\"card-subtitle\" style=\"color:#E1E1E1\">" +
                                        "Comments" +
                                    "</div>" +
                                    "<form action=\"/commentonpost\" method=\"post\">" +
                                        "<div class=\"form-group\">" +
                                            "<label class=\"sr-only\" for=\"message\">post</label>" +
                                            "<textarea class=\"form-control\" style=\"height:70px;\" name=\"commentContent\" rows=\"3\" placeholder=\"Leave a comment, <%=username%>!\" required></textarea>" +
                                            "<br>" +
                                            "<input type=\"hidden\" name=\"postID\" value=\"newPost.postID%>\">" +
                                            "<input type=\"submit\" value=\"Comment\" class=\"btn btn-lg btn-primary\">" +
                                        " </div>" +
                                    "</form>" +
                                " </div>" +
                            "</div> ";
                        postIDsonClient.push(newPost.postID);
                        postsOnClient.push(newPost);
                        //postsOnClient[newPost.postID] = newPost;

                        //ADDS THE NEWEST POST AT THE BEGINNING OF ALL POSTS.
                        container.innerHTML = content + container.innerHTML;
                    });
                   
                },
                error: function(err) {
                    // TODO: HANDLE ERRORS WITH AJAX CALLING DATABASE
                    //alert("I HAVE NO IDEA WHEN THIS SHOWS UP");
                    //alert(err);
                }
            })
    };

    initAllComments();
    initAllPosts();

    $(document).ready(function() {
        // CAN CHANGE CSS CODE (THE LINE BELOW) IF THERE ARE CONFLICTS
        $("#clock").css("color", "white");
        setTimeout(refreshTime, 5000);
    });
</script>