<head>
    <title>News Search Results</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="pennbook.css"/>
</head>

<body>
	<!--Top Header bar: Title of page, Toolbar, Search bar-->
	<nav class="navbar">
		<!--Title-->
	<a href="/home" class="navbar-brand" style="font-size:36px; color:#99DFFF">PennBook</a>
	<!--Toolbar-->
	<div class="toolbar-container">
        <a class="button" href="/home" role="button">
            &#127969;
            Home
        </a>
        <a class="button" href="/wall?wallToVisit=<%=username%>" role="button">
            &#128204;
            My Wall
        </a>
        <a class="button" href="/settings" role="button">
            &#128295;
            Settings
        </a>
        <a class="button" href="/news" role="button">
            &#128240;
            News
        </a>
        <a class="button" href="/logout" role="button">
            &#128682;
			Log Out
		</a>
    </div>
		<!-- News Search Bar -->
		<form action="/searchnews" method="post" class="form-inline">
			<div class="input-group">
				<label><font color="white">Search for an article:&nbsp</font></label>
				<input type="text" name="keyword" required class="form-control" aria-describedby="button-addon2">
				<div class="input-group-append">
					<button class="btn btn-outline-primary" type="submit" id="button-addon2">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</form>
	</nav>
	
	<!-- Show the news articles search results -->
	<div id="allArticles">
		<font color="white"><font size="20">
			<% if (articles.length == 0) { %>
				No articles found.</font></font>
			<% } else { %>
				<% if (articles.length <= 15) { %>
					Showing <%=articles.length%> search results for: <%=keyword%></font></font><br>
					
					<% articles.forEach(article => { %>
					<!--- Display each of the articles -->
					<div class="blog-card">
					    <div class="meta">
					      <div class="photo" style="background-image: url(https://www.nyacknewsandviews.com/wp-content/uploads/2016/03/trump-600x450.jpg)"></div>
					      <ul class="details">
					        <li class="author">
						        <% if (article.authors) { %>
									<%=article.authors%>
								<% } else { %>
									No authors found.
								<% } %>
					        </li>
					        <li class="date"><%=article.date%></li>
					        <li class="tags">
					          <ul>
					            <li><%=article.category%></li>
					          </ul>
					        </li>
					      </ul>
					    </div>
					    <div class="description">
					      <h1><%=article.article%></h1>
					      <p> <%=article.description%></p>
					      <p class="read-more">
					        <a href="<%=article.link%>">Read More</a>
					      </p>
					    </div>
					  </div>
					  
					<!--- Display the like button below each article -->
					<form action="/likearticle" method="post" class="blog-card">
						<input id="articleToLike" name="articleToLike" type="hidden" align="center" value="<%=article.article%>">
						<button type="submit" class="btn btn-primary btn-block">Like</button>
					</form>
				
				<% }); %>
					
				<% } else { %>
					Showing search results for: <%=keyword%></font></font><br>
				<% } %>
				
				<!-- Container for all of the articles -->
				<div id="articleContainer">
				
				</div>
				
			<% } %>
	</div>
	
	<!-- Pagination (only shows up with more than 15 results) -->
	<% if (articles.length > 15) { %>
	<div align="right">
		<div class="pagination">
			<button type="button" class="btn btn-primary btn-block" onclick="loadPrevious()">&laquo; Previous Page</button>
			<button type="button" class="btn btn-primary btn-block" onclick="loadNext()">Next Page &raquo;</button>
		</div>
	</div>
	<% } %>
	
</body>

<script>
	// list of all article names
	var articleNames = [];
	
	// maps from each article name to its properties
	let nameToDescription = new Map();
	let nameToCategory = new Map();
	let nameToLink = new Map();
	let nameToDate = new Map();
	let nameToAuthors = new Map();
	
	// counter variable for pagination
	var counter = 0;
	var beginningOfArticles = true;
	var endOfArticles = false;
	
	function storeAllArticles() {
		<% articles.forEach(article => { %>
			articleNames.push("<%=article.article%>");
			nameToDescription.set("<%=article.article%>", "<%=article.description%>");
			nameToCategory.set("<%=article.article%>", "<%=article.category%>");
			nameToLink.set("<%=article.article%>", "<%=article.link%>");
			nameToDate.set("<%=article.article%>", "<%=article.date%>");
			
			<% if (article.authors) { %>
				nameToAuthors.set("<%=article.article%>", "<%=article.authors%>");
			<% } else { %>
				nameToAuthors.set("<%=article.article%>", "No authors found.");
			<% } %>
		<% }); %>
	}
	
	function loadNext() {
		if (endOfArticles) {
			alert("No more articles to display.");
			return;
		} else {
			beginningOfArticles = false;
		}
		
		var newCounter = counter + 15;
		var container = document.getElementById("articleContainer");
		var content = "";
		
		while (counter < newCounter) {
			if (counter < articleNames.length) {
				content += "<div class=\"blog-card\"><div class=\"meta\"><div class=\"photo\" ";
				content += "style=\"background-image: url(https://www.nyacknewsandviews.com/wp-content/uploads/2016/03/trump-600x450.jpg)\"></div>";
				content += "<ul class=\"details\"><li class=\"author\">";
					        
				content += nameToAuthors.get(articleNames[counter]);
				
				content += "</li><li class=\"date\">";
				
				content += nameToDate.get(articleNames[counter]);
				
				content += "</li><li class=\"tags\"><ul><li>";
					            
				content += nameToCategory.get(articleNames[counter]);
				
				content += "</li></ul></li></ul></div><div class=\"description\"><h1>";
					      
				content += articleNames[counter];
				
				content += "</h1><p> ";
					      
				content += nameToDescription.get(articleNames[counter]);
				
				content += "</p><p class=\"read-more\"><a href=\"";
					        
				content += nameToLink.get(articleNames[counter]);
				
				content += "\">Read More</a></p></div></div>";
				
				// display the like button
				content += "<form action=\"/likearticle\" method=\"post\" class=\"blog-card\">";
				content += "<input id=\"articleToLike\" name=\"articleToLike\" type=\"hidden\" align=\"center\" value=\"";
				content += articleNames[counter];
				content += "\"><button type=\"submit\" class=\"btn btn-primary btn-block\">Like</button></form>";
				
				// update the counter
				counter++;
			} else {
				endOfArticles = true;
				break;
			}
		}
		
		// place the content into the container
		container.innerHTML = content;
	}
	
	function loadPrevious() {
		if (beginningOfArticles) {
			alert("No more articles to display.");
			return;
		} else {
			endOfArticles = false;
		}
		
		var newCounter = counter - (counter % 15);
		counter -= (counter % 15);
		counter -= 15;
		var container = document.getElementById("articleContainer");
		var content = "";
		
		if (counter <= 14) {
			beginningOfArticles = true;
		}
		
		while (counter < newCounter) {
			if (counter >= 0) {
				content += "<div class=\"blog-card\"><div class=\"meta\"><div class=\"photo\" ";
				content += "style=\"background-image: url(https://www.nyacknewsandviews.com/wp-content/uploads/2016/03/trump-600x450.jpg)\"></div>";
				content += "<ul class=\"details\"><li class=\"author\">";
					        
				content += nameToAuthors.get(articleNames[counter]);
				
				content += "</li><li class=\"date\">";
				
				content += nameToDate.get(articleNames[counter]);
				
				content += "</li><li class=\"tags\"><ul><li>";
					            
				content += nameToCategory.get(articleNames[counter]);
				
				content += "</li></ul></li></ul></div><div class=\"description\"><h1>";
					      
				content += articleNames[counter];
				
				content += "</h1><p> ";
					      
				content += nameToDescription.get(articleNames[counter]);
				
				content += "</p><p class=\"read-more\"><a href=\"";
					        
				content += nameToLink.get(articleNames[counter]);
				
				content += "\">Read More</a></p></div></div>";
				
				// display the like button
				content += "<form action=\"/likearticle\" method=\"post\" class=\"blog-card\">";
				content += "<input id=\"articleToLike\" name=\"articleToLike\" type=\"hidden\" align=\"center\" value=\"";
				content += articleNames[counter];
				content += "\"><button type=\"submit\" class=\"btn btn-primary btn-block\">Like</button></form>";
				
				// update the counter
				counter++;
			}
		}
		
		// place the content into the container
		container.innerHTML = content;
	}
	
	storeAllArticles();
	
	<% if (articles.length > 15) { %>
		loadNext();
		beginningOfArticles = true;
	<% } %>

</script>